.padreFormulario{
    width: 400px;
}
.boton{
    background-color:#6610f2;
}
.caja-imagen{
    
    object-fit: cover;
    position: absolute;
  
    z-index: -1;
    height: 155vh;
  
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .text-center{
    color: #6610f2;
  }
  