.front-page{
    font-size: 16px;
    min-height: 40.62em;
    color: white;
    background: url(./img/oOpUVC7LGK87epof3DphR1A88sL.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}
.front-page .container{
    margin: 0 auto;
    margin-bottom: 25.50em;
    padding: 10px;
}
.front-page .title{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}
.front-page .description{
            font-weight: normal;
            font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}
.front-page button{

    width: 120px;
    height: 40px;
    color:rgb(211, 208, 208); ;
    top:390px;
    left:25px;
    background-color: rgba(0, 0, 0, 0.911);
    border: solid 1px;
    border-radius: 6px;
}
.titleCarousel{
    font-size: 30px;
}
